.action-wrap p,
.prev:hover,
.next:hover,
#royal_preloader.text .loader,
.like-our-proj span,
.list-social-nav li:hover.icon-soc-nav a,
.cd-scndr-nav a.curent-nav-color,
.cd-primary-nav .cd-scndr-nav .cd-label a:hover,
.footer-copy-text a:hover,
.about-box .icon,
.services-box .icon,
.team-box p,
.quote-wrap-hart .icon,
a.blog-link,
#filter li a:hover,
#filter li .current,
.blog-box-1 .date p em,
#ajax-form button,
.contact-block .text p span,
.link-recents a:hover,
.pricing-item .number-price span,
.pricing-item .number-price span:last-child,
ul.slimmenu li a.mPS2id-highlight,
ul.slimmenu li a.cur-menu-item {
    color: #1C98ED;
}

ul.slimmenu li a:hover {
    border-bottom: 1px solid #1C98ED;
}

.hero-top p:after,
.header-text p:after,
.cd-item .portfolio-box .line,
h4.features:after {
    border-top: 1px solid #1C98ED;
    border-bottom: 1px solid #1C98ED;
}

.hero-top .link-top:hover {
    background: #1C98ED;
    border: 1px solid #1C98ED;
}

.scroll-to-top:hover,
.btn-projects,
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span,
.team-box .list-social-team li:hover,
#cd-zoom-in,
#cd-zoom-out,
.pro-bar,
.smk_accordion .accordion_in .acc_head:hover,
.smk_accordion .accordion_in.acc_active>.acc_head {
    background-color: #1C98ED;
}

.color-background,
#bar,
#bar-quote,
.list-social li:hover,
.tags-block a:hover,
.tags-block a.autor-link:hover,
.post-sidebar input:active,
.post-sidebar input:focus,
.link-tag a:hover,
.block:hover,
.pricing-item a.price-link {
    background: #1C98ED;
}

::selection {
    background: #1C98ED;
}

::-moz-selection {
    background: #1C98ED;
}

#ajax-form textarea:focus,
#ajax-form input:focus,
#ajax-form textarea:active,
#ajax-form input:active {
    border-bottom: 1px solid #1C98ED;
}

#ajax-form button:hover {
    background: #1C98ED;
}

.post-sidebar input:-ms-input-placeholder {
    color: #1C98ED;
}

.post-sidebar input::-moz-placeholder {
    color: #1C98ED;
}

.post-sidebar input:-moz-placeholder {
    color: #1C98ED;
}

.post-sidebar input::-webkit-input-placeholder {
    color: #1C98ED;
}

.pricing-item:hover {
    border-color: #1C98ED;
}

.pricing-item.popular {
    border-color: #1C98ED;
}

.gu-box {
    border-left: 2px solid #1C98ED;
}